footer
  .footer-logo
    img(src="assets/img/Pink-logo-footer-2--x1.png", alt="glasses-logo")
  .footer-social
    ul
      li
        a.twitter(href="#!")
          img(src="assets/img/icon-twitter.png", alt="twitter")
        a.facebook(href="#!")
          img(src="assets/img/icon-facebook.png", alt="facebook")
      li
        a.youtube(href="#!")
          img(src="assets/img/icon-youtube.png", alt="youtube")
  .footer-copyright
    p Website by 
      img(src="assets/img/icon-gluhanko.png", alt="gluhanko") 
      |for  
      img(src="assets/img/icon-htmlacademy.png", alt="htmlacademy")
