header
  nav.main-nav
    .main-nav-toggle
      .logo.mobile-logo 
        a(href="#home")
          img(src="assets/img/Pink-logo-1.png", alt="Logo-Pink")
      .toggle-mnu
        a(href="#!").mobile-nav-icon
          i(class="fa fa-navicon")
    ul.main-nav-ul
      li
        a(href="#information") Информация
      li
        a(href="#features") Возможности
      li
        a(href="#testimonials")  Отзывы
      li
        a(href="#price") Стоимость
  h1 Взгляните на жизнь иначе!
  figure.iphone-hand
    img(src="assets/img/iphone-hand-1.png", alt="iPhone-hand")
  .head-download
    button Скачать приложение
    ul.download-ul
      li
        a(href="#!")
          img(src="assets/img/apple-logo.svg", alt="Apple")
      li
        a(href="#!")
          img(src="assets/img/android-logo.svg", alt="Android")
      li
        a(href="#!")
          img(src="assets/img/microsoft-logo.svg", alt="Microsoft")
    p.head_p Доступно для iPhone, iPad,Android, Windows phone, Mac OS, Windows 8
  
