#contact.section-contact
  h2  Остались вопросы?
      |Свяжитесь с нами!
  p Звоните: 
  a(href="#!") 8 (800) 1000 900
   p Приезжайте в гости:
  a(href="#!") Санкт-Петербург, 
      |Невский проспект, д. 20
  p Пишите:
  a(href="#!") hello@pinkapp.ru
