section#testimonials.section-slider
  .owl-carousel
    .testimonial-item
      h2 Николай Петров
      p &#171;Это приложение перевернуло мой мир и позволило по-новому взглянуть 
        |на привычные серые вещи! А еще я познакомился со своей будущей женой в 
        |комментариях к выложенной фотографии!&#187;
    .testimonial-item
      h2 Вася Пупкин
      p &#171;Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!&#187;  
    .testimonial-item
      h2 Петя Васечкин
      p &#171;Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!&#187;
  .grey-triangle
