
<footer>
  <div class="footer-logo"><img src="assets/img/Pink-logo-footer-2--x1.png" alt="glasses-logo"/></div>
  <div class="footer-social">
    <ul>
      <li><a href="#!" class="twitter"><img src="assets/img/icon-twitter.png" alt="twitter"/></a><a href="#!" class="facebook"><img src="assets/img/icon-facebook.png" alt="facebook"/></a></li>
      <li><a href="#!" class="youtube"><img src="assets/img/icon-youtube.png" alt="youtube"/></a></li>
    </ul>
  </div>
  <div class="footer-copyright">
    <p>Website by <img src="assets/img/icon-gluhanko.png" alt="gluhanko"/>for  <img src="assets/img/icon-htmlacademy.png" alt="htmlacademy"/></p>
  </div>
</footer>