
<header>
  <nav class="main-nav">
    <div class="main-nav-toggle">
      <div class="logo mobile-logo"> <a href="#home"><img src="assets/img/Pink-logo-1.png" alt="Logo-Pink"/></a></div>
      <div class="toggle-mnu"><a href="#!" class="mobile-nav-icon"><i class="fa fa-navicon"></i></a></div>
    </div>
    <ul class="main-nav-ul">
      <li><a href="#information">Информация</a></li>
      <li><a href="#features">Возможности</a></li>
      <li><a href="#testimonials"> Отзывы</a></li>
      <li><a href="#price">Стоимость</a></li>
    </ul>
  </nav>
  <h1>Взгляните на жизнь иначе!</h1>
  <figure class="iphone-hand"><img src="assets/img/iphone-hand-1.png" alt="iPhone-hand"/></figure>
  <div class="head-download">
    <button>Скачать приложение</button>
    <ul class="download-ul">
      <li><a href="#!"><img src="assets/img/apple-logo.svg" alt="Apple"/></a></li>
      <li><a href="#!"><img src="assets/img/android-logo.svg" alt="Android"/></a></li>
      <li><a href="#!"><img src="assets/img/microsoft-logo.svg" alt="Microsoft"/></a></li>
    </ul>
    <p class="head_p">Доступно для iPhone, iPad,Android, Windows phone, Mac OS, Windows 8</p>
  </div>
</header>