
<section id="testimonials" class="section-slider">
  <div class="owl-carousel">
    <div class="testimonial-item">
      <h2>Николай Петров</h2>
      <p>
        &#171;Это приложение перевернуло мой мир и позволило по-новому взглянуть 
        на привычные серые вещи! А еще я познакомился со своей будущей женой в 
        комментариях к выложенной фотографии!&#187;
      </p>
    </div>
    <div class="testimonial-item">
      <h2>Вася Пупкин</h2>
      <p>&#171;Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!&#187;  </p>
    </div>
    <div class="testimonial-item">
      <h2>Петя Васечкин</h2>
      <p>&#171;Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!&#187;</p>
    </div>
  </div>
  <div class="grey-triangle"></div>
</section>