
<section id="information" class="section-features">
  <div class="header">
    <h2>Устали от серости мегаполиса?</h2>
    <h2>Нам есть, что вам предложить!</h2>
    <div class="grey-triangle"></div>
  </div>
  <div class="features">
    <div class="feature feature-1">
      <h3>Поднимает настроение</h3>
      <p>Приложение позволит вам победить осеннюю хандру и деперессию буквально в несколько кликов!</p>
    </div>
    <div class="feature feature-2">
      <h3>Меняет мир вокруг</h3>
      <p>Сделайте снимок и украсьте его смайликом или текстовой подписью, чтобы усилить эффект</p>
    </div>
    <div class="feature feature-3">
      <h3>Заводит новых друзей</h3>
      <p>Ставьте лайки, комментируте, делитесь фотографиями с друзьями и заводите новых</p>
    </div>
    <div class="iphone-screen"><img src="assets/img/iphone-screen-3.png" alt="iphone-screen"/></div>
  </div>
</section>