
<div id="price" class="section-price"> 
  <table class="big-table">
    <thead>
      <tr>
        <th class="table-title-main">База 
          <p><span>1.99 usd</span></p>
        </th>
        <th class="table-title-main">Стандарт 
          <p><span>3.99 usd</span></p>
        </th>
        <th class="table-title-main">АНЛИМ 
          <p><span>9.99 usd</span></p>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="first">Розовый фильтр</td>
        <td><i class="table__icon table__icon--yes"> </i></td>
        <td><i class="table__icon table__icon--yes"></i></td>
        <td><i class="table__icon table__icon--yes"></i></td>
      </tr>
      <tr>
        <td class="first">Смайлики</td>
        <td><i class="table__icon table__icon--no"></i></td>
        <td><i class="table__icon table__icon--no"></i></td>
        <td><i class="table__icon table__icon--yes"></i></td>
      </tr>
      <tr>
        <td class="first">Комментарии</td>
        <td><i class="table__icon table__icon--no"></i></td>
        <td><i class="table__icon table__icon--no"></i></td>
        <td><i class="table__icon table__icon--no"></i></td>
      </tr>
    </tbody>
  </table>
  <div class="carousel">
    <div class="slider-table">
      <table class="slider-table-item item1">
        <thead>
          <tr>
            <th class="table-title-main">База 
              <p><span>1.99 usd</span></p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="first">Розовый фильтр<i class="table__icon table__icon--yes"> </i></td>
          </tr>
          <tr>
            <td class="first">Смайлики<i class="table__icon table__icon--no"></i></td>
          </tr>
          <tr>
            <td class="first">Комментарии<i class="table__icon table__icon--no"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="slider-table">
      <table class="slider-table-item item2">
        <thead>
          <tr>
            <th class="table-title-main">Стандарт
              <p><span>3.99 usd</span></p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="first">Розовый фильтр<i class="table__icon table__icon--yes"> </i></td>
          </tr>
          <tr>
            <td class="first">Смайлики<i class="table__icon table__icon--yes"></i></td>
          </tr>
          <tr>
            <td class="first">Комментарии<i class="table__icon table__icon--no"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="slider-table">
      <table class="slider-table-item item3">
        <thead>
          <tr>
            <th class="table-title-main">Анлим
              <p><span>9.99 usd</span></p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="first">Розовый фильтр<i class="table__icon table__icon--yes"> </i></td>
          </tr>
          <tr>
            <td class="first">Смайлики<i class="table__icon table__icon--yes"></i></td>
          </tr>
          <tr>
            <td class="first">Комментарии<i class="table__icon table__icon--yes"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>