.section-price
  background-color: #f2f2f2
  padding-bottom: 70px
table
  width: 80%
  margin: 0 auto
  text-align: center
td
  border: 2px solid #e5e5e5
  padding: 20px 40px
  &.first
    color: #283645
    font-size: 14px
    font-weight: 400
    line-height: 30px
  //padding: 50px
th
  background-color: #283645
  color: #fff
  padding: 20px 40px
  font-size: 16px
  text-transform: uppercase
  font-weight: 700
  line-height: 30px
  border-left: 2px solid #f2f2f2
  &:first-child
    background-color: #f2f2f2
  span
    font-family: OpenSansLight
    font-size: 18px
    font-weight: 300
.table__icon
  display: block
  margin: 0 auto
  +size(26px)
  &--yes
    background: url("../img/yes.svg") no-repeat
  &--no
    background: url("../img/no.svg") no-repeat
